/* Container */
.credential-form {
  max-width: 420px;
  margin: 50px auto;
  padding: 28px;
  background: #020617;
  border-radius: 14px;
  color: #e5e7eb;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.45);
  font-family: "Segoe UI", sans-serif;
}

/* Title */
.credential-form h2 {
  text-align: center;
  margin-bottom: 22px;
  font-size: 24px;
  color: #22d3ee;
}

/* Inputs & Select */
.credential-form select,
.credential-form input {
  /* width: 100%; */
  padding: 12px 14px;
  margin-bottom: 16px;
  border-radius: 8px;
  border: 1px solid #334155;
  background: #020617;
  color: #e5e7eb;
  font-size: 14px;
  transition: 0.2s;
}

.credential-form input::placeholder {
  color: #64748b;
}

/* Focus Effect */
.credential-form select:focus,
.credential-form input:focus {
  border-color: #22d3ee;
  box-shadow: 0 0 0 1px #22d3ee;
}

/* Button */
.credential-form button {
  width: 100%;
  padding: 13px;
  margin-top: 6px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(135deg, #4f46e5, #22d3ee);
  color: #020617;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s;
}

.credential-form button:hover {
  transform: translateY(-1px);
  box-shadow: 0 6px 15px rgba(34, 211, 238, 0.35);
}

/* Responsive */
@media (max-width: 480px) {
  .credential-form {
    margin: 25px 14px;
    /* padding: 22px; */
  }
}
